<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
.container {
	width: 1000px;
	padding: 0px;
	margin: 0px;
	border: dashed #e3e3e3;
}
article {
	width: 200px;
	margin: 13px;
	padding: 10px;
	display: inline-block;
	background: #e3e3e3;	
	font-size: auto;
}
</style>
</head>



<body>
<header>
<h1>This is a header</h1>
</header>
<section class="container">
	<article>
    <img src="IMG_2308.JPG" width="200" height="150" />
    </article>
    <article>
    <h2> Blog Post</h2>
    <p> Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.  .</p>
    </article>
    <article>
    <a href="double.html"> <img src="IMG_2256.JPG" width="200" height="150" alt="CASEC" /></a>
    </article>
    <article>
    <img src="IMG_2308.JPG" width="200" height="150" />
    </article>
    <article>
    <h2> Blog Post</h2>
    <p> Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.  Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.</p>
    </article>
    <article>
    <a href="double.html"> <img src="IMG_2256.JPG" width="200" height="150" alt="CASEC" /></a>
    </article>
    <article>
    <img src="IMG_2308.JPG" width="200" height="150" />
    </article>
    <article>
    <h2> Blog Post</h2>
    <p> Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.  Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.</p>
    </article>
    <article>
    <a href="double.html"> <img src="IMG_2256.JPG" width="200" height="150" alt="CASEC" /></a>
    </article>
    <article>
    <img src="IMG_2308.JPG" width="200" height="150" />
    </article>
    <article>
    <h2> Blog Post</h2>
    <p> Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.</p>
    </article>
    <article>
    <a href="double.html"> <img src="IMG_2256.JPG" width="200" height="150" alt="CASEC" /></a>
    </article>
    <article>
    <img src="IMG_2308.JPG" width="200" height="150" />
    </article>
    <article>
    <h2> Blog Post</h2>
    <p> Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.  Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.</p>
    </article>
    <article>
    <a href="double.html"> <img src="IMG_2256.JPG" width="200" height="150" alt="CASEC" /></a>
    </article>
    <article>
    <img src="IMG_2308.JPG" width="200" height="150" />
    </article>
    <article>
    <h2> Blog Post</h2>
    <p> Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.  Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.</p>
    </article>
    <article>
    <a href="double.html"> <img src="IMG_2256.JPG" width="200" height="150" alt="CASEC" /></a>
    </article>
    <article>
    <img src="IMG_2308.JPG" width="200" height="150" />
    </article>
    <article>
    <h2> Blog Post</h2>
    <p> Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.  Something about everything has nothing to do with my life. Collegehumor and humor for college students are two different things.  Cauliflower and flower calls make call cauliflower flower.  Make me "LDSkFJ" and i'll "yaoaksldj" you.  The lights of the north, winter is passing, september comes.</p>
    </article>
    <article>
    <a href="double.html"> <img src="IMG_2256.JPG" width="200" height="150" alt="CASEC" /></a>
    </article>
    

</section>

</body>
</html>
